body {
    background-color:linen;
    margin:0;
}

h1 {
    color:darkslategrey;
    font-size: 80px;
     display: inline; 
    font-family:Apple Chancery, cursive;
}

img.logo {
   /** display: inline; **/
    height: 110px;
    padding-top: 20.15px;
    transform: rotate(15deg);
}

nav {
    list-style-type:none;
    background-color:rosybrown;
    height:50px;
    padding:10px;
    margin:10px 0px 0px 0px;
    text-align:center;
    /** centers text horizontally **/
}

.menu li {
    display: inline-block;
    text-transform:uppercase;
    padding: 0px 40px; 
    /**spreads the li out horizontally **/
    font-size:1.2em;
    color:black;
}

.menu a {
    color:white;
    text-decoration:none;
}

.menu a:hover {
    background-color:grey;
    padding-block:23px;
    /** padding-block holds the li in place when a 
    link is hovered over **/
}

  .container { 
      display:flex;
      padding: 70px;
      max-height: max-content;
      padding:40px;
      text-align:center;
}
  
  .main {
      background-color:white;
      width: 70%;
      margin:30px; 
      font-size:1.7em;
}

  .sidebar {
      background-color:rosybrown;
      width:30%;
      margin:30px;
}

h3 {
    font-size:2em;
}

h2 {
    font-family:Marker Felt, fantasy;
    font-size:3em;
    color:darkslategrey;
}

.footer-container {
    display:flex;
    background-color:rosybrown;
    padding:5px;
    justify-content:space-around;
}
